<h3>{{ _('Auth LDAP Settings') }}</h3>

<form class="form-horizontal">
    <div class="control-group">
        <h6>Bind to LDAP Server</h6>
        <label for="uri" class="control-label">{{ _('LDAP URI') }}</label>
        <div class="controls">
            <input id="uri" type="text" class="input-block-level" data-bind="value: settings.plugins.auth_ldap.uri"
                   placeholder="ldaps://ldap.example.com">
        </div>

        <label for="request_tls_cert" class="control-label">{{ _('Request TLS Certificate') }}</label>
        <div class="controls">
            <input id="request_tls_cert" type="checkbox" class="input-block-level"
                   data-bind="checked: settings.plugins.auth_ldap.request_tls_cert">
        </div>

        <label for="auth_user" class="control-label">{{ _('Authenticated bind user') }}</label>
        <div class="controls">
            <input id="auth_user" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.auth_user"
                   placeholder="EXAMPLE\admin or admin@example.com or cn=admin,dc=example,dc=com">
        </div>

        <label for="auth_password" class="control-label">{{ _('Authenticated bind password') }}</label>
        <div class="controls">
            <input id="auth_password" type="password" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.auth_password">
        </div>
    </div>

    <div class="control-group">
        <h6>Identify User</h6>
        <label for="search_base" class="control-label">{{ _('Search base') }}</label>
        <div class="controls">
            <input id="search_base" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.search_base" placeholder="DC=example,DC=com">
        </div>

        <label for="search_filter" class="control-label">{{ _('Search filter') }}</label>
        <div class="controls">
            <input id="search_filter" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.search_filter" placeholder="uid={user}">
            <small>Use <code>%s</code> as placeholder for login user ID</small>
        </div>

        <label for="search_term_transform" class="control-label">{{ _('Search term transformation') }}</label>
        <div class="controls">
            <input id="search_term_transform" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.search_term_transform" placeholder="lower">
            <small>A python string transformation (e.g. lower or upper)</small>
        </div>

        <label for="local_cache" class="control-label">{{ _('Local cache') }}</label>
        <div class="controls">
            <input id="local_cache" type="checkbox" class="input-block-level"
                   data-bind="checked: settings.plugins.auth_ldap.local_cache">
        </div>

        <label for="default_user" class="control-label">{{ _('Default user role') }}</label>
        <div class="controls">
            <input id="default_user" type="checkbox" class="input-block-level"
                   data-bind="checked: settings.plugins.auth_ldap.default_role_user">
        </div>

        <label for="default_admin" class="control-label">{{ _('Default admin role') }}</label>
        <div class="controls">
            <input id="default_admin" type="checkbox" class="input-block-level"
                   data-bind="checked: settings.plugins.auth_ldap.default_role_admin">
        </div>
    </div>

    <div class="control-group">
        <h6>Filter by Group</h6>
        <label for="groups" class="control-label">{{ _('Groups') }}</label>
        <div class="controls">
            <input id="groups" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.groups" placeholder="Lab Users, Lab Staff, Students">
        </div>

        <label for="group_filter" class="control-label">{{ _('Group Filter') }}</label>
        <div class="controls">
            <input id="group_filter" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.group_filter" placeholder="ou={group}">
            <small>Use <code>%s</code> as placeholder for group name</small>
        </div>

        <label for="group_member_filter" class="control-label">{{ _('Group Member Filter') }}</label>
        <div class="controls">
            <input id="group_member_filter" type="text" class="input-block-level"
                   data-bind="value: settings.plugins.auth_ldap.group_member_filter" placeholder="uniqueMember={dn}">
            <small>Use <code>%s</code> as placeholder for user's distinguished name</small>
        </div>
    </div>
</form>
