<div class="pull-right">
    <button class="btn btn-small" title="{{ _('Plugin Configuration') }}" data-bind="click: function() { showSettingsDialog(); }"><span class="icon-wrench"></span></button>
</div>

<h3>{{ _("LDAP configuration") }}</h3>

<form class="form-horizontal">
    <label for="plugin_ldap_uri" class="control-label">{{ _('LDAP URI') }}</label>
    <div class="controls">
        <input id="plugin_ldap_uri" type="text" class="input-block-level" data-bind="value: settings.accessControl.ldap_uri"
               placeholder="ldaps://ldap.server.com" />
    </div>

    <label for="plugin_ldap_tls_reqcert" class="control-label">{{ _('TLS check cert') }}</label>
    <div class="controls">
        <input id="plugin_ldap_tls_reqcert" type="text" class="input-block-level" data-bind="value: settings.accessControl.ldap_tls_reqcert"/>
    </div>

    <label for="plugin_ldap_search_base" class="control-label">{{ _('Search base pattern') }}</label>
    <div class="controls">
        <input id="plugin_ldap_search_base" type="text" class="input-block-level" data-bind="value: settings.accessControl.ldap_search_base"/>
    </div>
    
    <label for="plugin_ldap_groups" class="control-label">{{ _('Groups (comma-separated if multiple)') }}</label>
    <div class="controls">
        <input id="plugin_ldap_groups" type="text" class="input-block-level" data-bind="value: settings.accessControl.groups"/>
    </div>
</form>
